<!DOCTYPE html>
{%extends 'examapp2/base1.html'%}
{%block body1_block%}
<div class="container">
  <div class="jumbotron">
    <form method='post' action='/user_login/'>
          {% csrf_token %}
          <h3>Username:<h3><input type='text' name='username' placeholder="username">

          <h3>Password:<h3><input type="password" name='password' placeholder="password">

          <br>
          <br>
          <input type='submit' name='' value="Login">
    </form>
  </div>
</div>

{%endblock%}
