<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body style="background-color:Tomato;">

    <div class="jumbotron" style="margin-top:250px; width:900px; margin-left:400px;">
      <div class="container">
        <h3>Thanks for investing your time</h3>

        <h4>To Quit please select the button as shown below<h4>
        <a href="/quit" class="btn btn-large btn-primary">QUIT</a>
      </div>
    </div>
  </body>
</html>
